{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员</title>
</head>
<body>
<div></div>
    <form class='form-login' id="mainform" action="/users/manager/query_report/" method="post">
              {% if error %}
                  <div class="alert alert-warning">{{ error }}</div>
        {% endif %}
        {% csrf_token %}
              <div class="form-group">
                  {{ report_form.query_type.label_tag }}
                  {{ report_form.query_type}}
              </div>
              <div class="form-group">
               {{ report_form.room_id.label_tag }}
               {{ report_form.room_id }}
              </div>
              <div class="form-group">
               {{ report_form.date.label_tag }}
               {{ report_form.date }}
              </div>
              <button type="reset" class="btn btn-default pull-left">重置</button>
              <button type="submit" class="btn btn-primary pull-right">查询</button>
              <button type="button" class="btn btn-primary pull-right" onclick="print()">打印</button>
          </form>
</div>
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script>
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
    </script>
    <script>
        function print() {
            $("#mainform").removeAttr('action');
            $("#mainform").attr('action','/users/manager/print_report/');
            $("#mainform").submit();
        }
    </script>
</body>
</html>