{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>功能页面</title>
</head>
<body>
<div>
    <div>
        <h1>请选择房间号：</h1>
        <select id="ss" style="width: 100px;height: 40px;font-size: large">
            <option value="0">请选择</option>
            <option value="309c">309c</option>
            <option value="310c">310c</option>
            <option value="311c">311c</option>
            <option value="312c">312c</option>
            <option value="f3">f3</option>
        </select>
        <button onclick="on()">开机</button>
        <button onclick="off()">关机</button>
    </div>
    <div>
        <button onclick="temp()">调节温度</button><input id="temp" placeholder="请输入目标温度">
        <button onclick="speed()">调节风速</button><input id="speed" placeholder="请输入目标风速">
    </div>
    <div>
        <button onclick="request_fee()">查房价</button>
        <button onclick="check_out()">退房</button>
        <button onclick="check_in()">入住</button>
    </div>

</div>
<script src="{% static 'js/jquery-3.4.1.js' %}"></script>
<script>
$.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});
</script>
<script>
    function on() {
        var myselect = document.getElementById("ss");
        var index=myselect.selectedIndex;
        var room=myselect.options[index].value;
            if(room == 0)
                alert("请选择房间号"+room);
            else{
                $.ajax({
                    type:"post",
                    data:{
                        'room_id': room
                    },
                    url:'http://127.0.0.1:8000/users/client/request_on/',
                    success:function (data) {
                        alert(data['message']);
                    },
                    error:function () {
                        alert("error:"+data['message']);
                    }
                })
            }
    }
    function off() {
        var myselect = document.getElementById("ss");
        var index=myselect.selectedIndex;
        var room=myselect.options[index].value;
            if(room == 0)
                alert("请选择房间号");
            else{
                $.ajax({
                    type:"post",
                    data:{
                        'room_id': room
                    },
                    url:'http://127.0.0.1:8000/users/client/request_off/',
                    success:function (data) {
                        alert(data['message']);
                    },
                    error:function () {
                        alert("error!");
                    }
                })
            }
    }
    function temp() {
        var myselect = document.getElementById("ss");
        var index=myselect.selectedIndex;
        var room=myselect.options[index].value;
        var temp = document.getElementById("temp").value;
            if(temp){
                $.ajax({
                    type:"post",
                    data:{
                        'room_id': room,
                        'target_temper': temp,
                    },
                    url:'http://127.0.0.1:8000/users/client/change_temper/',
                    success:function (data) {
                        alert(data['message']);
                    },
                    error:function () {
                        alert("error!");
                    }
                })
            }
            else{
                alert("请输入调节温度");
            }
    }
    function speed() {
        var myselect = document.getElementById("ss");
        var index=myselect.selectedIndex;
        var room=myselect.options[index].value;
        var speed = document.getElementById("speed").value;
            if(speed){
                $.ajax({
                    type:"post",
                    data:{
                        'room_id': room,
                        'speed': speed,
                    },
                    url:'http://127.0.0.1:8000/users/client/change_speed/',
                    success:function (data) {
                        alert(data['message']);
                    },
                    error:function () {
                        alert("error!");
                    }
                })
            }
            else{
                alert("请输入调节风速");
            }
    }
    function request_fee() {
        var myselect = document.getElementById("ss");
        var index=myselect.selectedIndex;
        var room=myselect.options[index].value;
            if(room == 0)
                alert("请选择房间号");
            else{
                $.ajax({
                    type:"post",
                    data:{
                        'room_id': room
                    },
                    url:'http://127.0.0.1:8000/users/client/request_fee/',
                    success:function (data) {
                        alert(data['message']);
                    },
                    error:function () {
                        alert("error!");
                    }
                })
            }
    }
    function check_out() {
        var myselect = document.getElementById("ss");
        var index=myselect.selectedIndex;
        var room=myselect.options[index].value;
            if(room == 0)
                alert("请选择房间号");
            else{
                $.ajax({
                    type:"post",
                    data:{
                        'room_id': room
                    },
                    url:'http://127.0.0.1:8000/users/client/check_out/',
                    success:function (data) {
                        alert(data['message']);
                    },
                    error:function () {
                        alert("error!");
                    }
                })
            }
    }
    function check_in() {
        var myselect = document.getElementById("ss");
        var index=myselect.selectedIndex;
        var room=myselect.options[index].value;
            if(room == 0)
                alert("请选择房间号");
            else{
                $.ajax({
                    type:"post",
                    data:{
                        'room_id': room
                    },
                    url:'http://127.0.0.1:8000/users/client/check_in/',
                    success:function (data) {
                        alert(data['message']);
                    },
                    error:function () {
                        alert("error!");
                    }
                })
            }
    }
</script>
</body>
</html>