{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>初始化参数</title>
</head>

<body>
<div>
    <form action="/users/administrator/init_param/" method="post">
        {% if message %}
                  <div class="alert alert-warning">{{ message }}</div>
    {% endif %}
          {% csrf_token %}
          <div class="form-group">
              {{ para_form.highest_temper.label_tag }}
              {{ para_form.highest_temper}}
          </div>
          <div class="form-group">
               {{ para_form.lowest_temper.label_tag }}
               {{ para_form.lowest_temper }}
          </div>
          <div class="form-group">
           {{ para_form.low_speed_fee.label_tag }}
           {{ para_form.low_speed_fee }}
          </div>
          <div class="form-group">
           {{ para_form.middle_speed_fee.label_tag }}
           {{ para_form.middle_speed_fee }}
          </div>
         <div class="form-group">
           {{ para_form.high_speed_fee.label_tag }}
           {{ para_form.high_speed_fee }}
          </div>
         <div class="form-group">
           {{ para_form.default_temper.label_tag }}
           {{ para_form.default_temper }}
          </div>
         <div class="form-group">
           {{ para_form.default_speed.label_tag }}
           {{ para_form.default_speed }}
          </div>
         <div class="form-group">
           {{ para_form.frequent.label_tag }}
           {{ para_form.frequent }}
          </div>
        <div class="form-group">
           {{ para_form.mode.label_tag }}
           {{ para_form.mode}}
          </div>
          <button type="reset" class="btn btn-default pull-left">重置</button>
          <button type="submit" class="btn btn-primary pull-right">提交</button>
    </form>
</div>
<script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script>
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
    </script>
    <script type="text/javascript">
        function power_on() {
            $.ajax({
                type:"get",
                url:'http://127.0.0.1:8000/users/administrator/power_on/',
                success:function (data) {
                    alert(data["message"])
                },
                error:function () {
                    alert("error!");
                }
            })
        }
    </script>
</body>
</html>